*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.main_home{
    background-image: url("https://wallpapercave.com/wp/wp9204454.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 91.6vh;
}

.sec1Home{
    margin-top: 10rem;
}

.sec1Home h3{
    margin-bottom: 2rem;
}

.btn_get_started{
    border: .1rem solid #3498DB;
    padding: .5rem 1rem .5rem 1rem; 
    font-weight: 500;
    border-radius: 3rem;
}

.btn_get_started:hover{
    background-color: #3498DB;
    color: whitesmoke;
    transition: .5s;
}

.sec1Home a{
    text-decoration: none;
}

.sec2Home {
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-top: 7rem;
}

.timeGreet{
    display: flex;
    align-items: center;
    
}

.timeGreet .Greeeting{
    padding-left: 3rem;
    display: flex;
    align-items: center;
}

.homeImage{
    width: 20rem;
    height: 20rem;
    display: flex;
    /* margin-top: 7rem;
    margin-left: 8rem; */
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}